REFRESH_SECRET=D57684B7221F533C1F23F31FD3949
ACCESS_SECRET=7A125D673E2D5E29
PASSWORD_PEPPER=CHANGE_THIS_PEPPER
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_SES_ENDPOINT=http://localhost:4566
AWS_SES_FROM_EMAIL=no-reply@local.test
RESET_PASSWORD_URL=http://localhost:5173/reset-password
RESET_PASSWORD_EXPIRES_HOURS=1
AUTH_MAX_LOGIN_ATTEMPTS=5
AUTH_LOCKOUT_MINUTES=15
INVITE_REGISTER_URL=http://localhost:5173/sign-up
INVITE_EXPIRES_HOURS=24
